<!--<div class="container">-->
<!--  <a class="btn btn-s mt-3 mb-3 clickable-fade"  routerLink="/projects">-->
<!--    <i class="bi bi-arrow-left me-2 "></i>Back to project view-->
<!--  </a>-->
<!--</div>-->

<div *ngIf="currentProject" class="mt-4">
  <app-project-form-modal [loggedInUser]="loggedInUser" [inputProject]="currentProject" (sentProjectForm)="editProject($event)"></app-project-form-modal>

  <app-chapter-form-modal
    [projectId]="currentProject.id"
    (signalParentComponent)="attachChapterToProject($event)"></app-chapter-form-modal>

  <app-textblock-form-modal (signalParentComponent)="getProjectById()"></app-textblock-form-modal>

  <section class="space-sm">
    <div class="container" style="min-width: 97%">
      <div class="row flex-md-row card-md">
        <div class="card-body">
          <div class=" mb-5">
            <h1 class="h2 mb-2">
              <i class="bi bi-arrow-left me-2 clickable-fade" routerLink="/projects"></i>
              {{currentProject.title}}
              <i class="bi bi-pencil-fill ms-2 clickable-fade" data-bs-toggle="modal" data-bs-target="#projectFormModal"></i></h1>
            <!--(Modal activate button)-->
<!--            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chapterFormModal"-->
<!--                    (click)="setupChapterModal(crudMethodModeEnum.CREATE, undefined)">-->
<!--              <i class="bi bi-plus-lg me-2"></i><b>Create new chapter</b>-->
<!--            </button>-->
          </div>

          <div style="display: flex; flex-direction: row; column-gap: 0.6em">

            <!-- Text column -->
            <div class="col-9 card" style="min-height: 35rem">

              <div *ngIf="currentChapter" style="display: flex; flex-direction: column;">
                <div style="display: flex; flex-direction: row;">
                  <h5 class="card-body text-center">{{currentChapter.title}}
                    <i class="bi bi-x-lg me-2 mt-1 clickable-fade" style="float: right;"
                       (click)="setCurrentChapter(undefined)"></i></h5>
                </div>

                <div class="container" style="text-align: center">
                  <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#textBlockFormModal"
                          (click)="setUpTextBlockModal(crudMethodModeEnum.CREATE, undefined)">
                    <i class="bi bi-plus-lg me-2"></i><b>Add text</b>
                  </button>
                </div>
              </div>

<!--              TODO: Make it so that individual text blocks (cards) contain textareas-->
              <div *ngIf="currentChapter" class="container" style="display: flex; flex-direction: column">
                <div *ngFor="let textBlock of currentChapter.textBlocks" class="" style="display: flex; flex-direction: column">
                  <!-- TextBlock card -->
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title">
                        <a style="text-decoration: none; color: black;" >
                          (Speaker)<i class="bi bi-caret-down-fill ms-2 clickable-fade"></i>
                        </a>
                      </p>
                      <p>{{textBlock.modifiedText}}</p>
                      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a class="btn btn-s me-2 clickable-fade" data-bs-toggle="modal" data-bs-target="#textBlockFormModal"
                           (click)="setUpTextBlockModal(crudMethodModeEnum.DELETE, textBlock)">
                          <i class="bi bi-x-lg me-2"></i>Remove
                        </a>
                        <a class="btn btn-s me-2 clickable-fade" data-bs-toggle="modal" data-bs-target="#textBlockFormModal"
                           (click)="setUpTextBlockModal(crudMethodModeEnum.UPDATE, textBlock)">
                          <i class="bi bi-pencil-square me-2"></i>Edit
                        </a>
<!--                        <a class="btn btn-s me-2 clickable-fade">-->
<!--                          <i class="bi bi-arrow-right me-2"></i>Open-->
<!--                        </a>-->
                      </div>
                    </div>
                  </div>

                </div>
              </div>
<!--              <textarea asp-for="ModifiedText" class="form-control" style="min-height: 30rem" placeholder="ModifiedText" aria-label="With textarea"></textarea>-->
            </div>

            <!-- Chapter column -->
            <div class="container card">
              <div class="flex p-4 justify-between pb-4" style="display: flex; flex-direction: row; justify-content: space-between;">
                <h5 class="card-title">Chapters ({{currentProject.chapters?.length}})</h5>
                <i class="bi bi-plus-lg clickable-fade" data-bs-toggle="modal" data-bs-target="#chapterFormModal"
                   (click)="setupChapterModal(crudMethodModeEnum.CREATE, undefined)"></i>
              </div>

              <div *ngFor="let chapter of currentProject.chapters" class="" style="display: flex; flex-direction: column">

    <!--            Chapter card-->
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">
                        <a style="text-decoration: none; color: black;" >
                          {{chapter.title}}<i class="bi bi-pencil-fill ms-2 clickable-fade"></i>
                        </a>
                      </h5>
                      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a class="btn btn-s me-2 clickable-fade" data-bs-toggle="modal" data-bs-target="#chapterFormModal" (click)="setupChapterModal(crudMethodModeEnum.DELETE, chapter)">
                          <i class="bi bi-x-lg me-2"></i>Remove
                        </a>
                        <a class="btn btn-s me-2 clickable-fade" data-bs-toggle="modal" data-bs-target="#chapterFormModal" (click)="setupChapterModal(crudMethodModeEnum.UPDATE, chapter)">
                          <i class="bi bi-pencil-square me-2"></i>Edit
                        </a>
                        <a class="btn btn-s me-2 clickable-fade" (click)="setCurrentChapter(chapter)">
                          <i class="bi bi-arrow-right me-2"></i>Open
                        </a>
                      </div>
                    </div>
                  </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end of container-->
  </section>
  <!--end of section-->
</div>
